Language: Cpp

# A vector of strings that should be interpreted as
# attributes/qualifiers instead of identifiers.
# Example: `AttributeMacros: [__capability, __output, __unused]`
#
#AttributeMacros: []

# A vector of macros that should be interpreted as foreach loops instead of as
# function calls.
#
#ForEachMacros: []

# A regular expression that describes comments with special meaning, which
# should not be split into lines or otherwise changed.
#
#CommentPragmas: ''

# A vector of macros that should be interpreted as conditionals instead of as
# function calls.
#
# IfMacros: []

AccessModifierOffset: -3
AlignAfterOpenBracket: false
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCompound: true
  # Clang23
  #EnumAssignments: true
  PadOperators: true
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCompound:   true
  AlignFunctionDeclarations: true
  AlignFunctionPointers: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCaseArrows: true
  AlignCaseColons: false
AlignConsecutiveTableGenBreakingDAGArgColons:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
AlignConsecutiveTableGenCondOperatorColons:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
AlignConsecutiveTableGenDefinitionColons:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: AlignAfterOperator
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0
  # Clang23
  #MaxEmptyLinesToKeep: 2
  AlignPPAndNotPP: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowBreakBeforeNoexceptSpecifier: OnlyWithParen
AllowBreakBeforeQtProperty: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
  # Clang23
  # Remove "All" from the above line and use the below.
  #Empty: false
  #Inline: true
  #Other: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AllowShortNamespacesOnASingleLine: true
# Clang23
#AllowShortRecordOnASingleLine: EmptyAndAttached
AlwaysBreakBeforeMultilineStrings: true
BinPackLongBracedList: true
BitFieldColonSpacing: Both
BracedInitializerIndentWidth: 2
BreakAdjacentStringLiterals: true
BreakAfterAttributes: Always
BreakAfterJavaFieldAnnotations: true
BreakAfterOpenBracketBracedList: true
BreakAfterOpenBracketFunction: true
BreakAfterOpenBracketIf: true
BreakAfterOpenBracketLoop: true
BreakAfterOpenBracketSwitch: true
BreakAfterReturnType: Automatic
BreakArrays: false
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterExternBlock: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeCloseBracketBracedList: true
BreakBeforeCloseBracketFunction: true
BreakBeforeCloseBracketIf: true
BreakBeforeCloseBracketLoop: true
BreakBeforeCloseBracketSwitch: true
BreakBeforeConceptDeclarations: Allowed
BreakBeforeInlineASMColon: OnlyMultiline
# Clang23
#BreakBeforeReturnType: None
BreakBeforeTemplateCloser: true
BreakBeforeTernaryOperators: true
BreakBinaryOperations: Never
BreakConstructorInitializers: BeforeComma
# Clang23
#BreakFunctionDeclarationParameters: false
BreakFunctionDefinitionParameters: false
BreakInheritanceList: AfterComma
BreakStringLiterals: true
BreakTemplateDeclarations: MultiLine
ColumnLimit: 80
CompactNamespaces: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: Block
DerivePointerAlignment: false
DisableFormat: false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Always
# Warning - EnumTrailingComma
# Setting this option to any value other than `Leave` could lead to incorrect
# code formatting due to clang-format’s lack of complete semantic information.
# As such, extra care should be taken to review code changes made by this
# option.
EnumTrailingComma: Leave  # Would prefer `insert` but see above...
ExperimentalAutoDetectBinPacking: false
FixNamespaceComments: true
IncludeBlocks: Preserve
IncludeCategories:
  - Regex:           '^"(llvm|llvm-c|clang|clang-c)/'
    Priority:        2
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^(<|"(gtest|gmock|isl|json)/)'
    Priority:        3
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '.*'
    Priority:        1
    SortPriority:    0
    CaseSensitive:   false
IncludeIsMainRegex: '(Test)?$'
IncludeIsMainSourceRegex: ''
IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: true
IndentExportBlock: false
IndentExternBlock: NoIndent
IndentGotoLabels: False
# Clang23
#IndentGotoLabels: NoIndent
IndentPPDirectives: BeforeHash
IndentRequiresClause: true
IndentWidth: 3
IndentWrappedFunctionNames: false
# Warning - InsertBraces
# Setting this option to true could lead to incorrect code formatting due to
# clang-format’s lack of complete semantic information. As such, extra care
# should be taken to review code changes made by this option.
InsertBraces: false  # Would prefer `true` but see above...
InsertNewlineAtEOF: false
InsertTrailingCommas: None  # `Wrapped` is not compatible with bin packing.
IntegerLiteralSeparator:
  Binary: 0
  Decimal: 3
  Hex: -1
JavaImportGroups: []
JavaScriptQuotes: Double
JavaScriptWrapImports: true
KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: false
  AtStartOfFile: false
KeepFormFeed: false
LambdaBodyIndentation: OuterScope
LineEnding: LF
MacroBlockBegin: ''
MacroBlockEnd:   ''
MainIncludeChar: Quote
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
NumericLiteralCase:
  ExponentLetter: Lower
  HexDigit: Lower
  Prefix: lower
  Suffix: Upper
ObjCBinPackProtocolList: Auto
ObjCBlockIndentWidth: 3
ObjCBreakBeforeNestedBlockParam: false
ObjCSpaceAfterMethodDeclarationPrefix: false
ObjCSpaceAfterProperty: false
ObjCSpaceBeforeProtocolList: false
OneLineFormatOffRegex: ''
PPIndentWidth: -1
PackArguments: OnePerLine
PackConstructorInitializers: Never
PackParameters: OnePerLine
# PENALTY - Leaving all the penalties at their defaults.
PointerAlignment: Right
# Warning - QualifierAlignment
# Setting QualifierAlignment to something other than Leave, COULD lead to 
# incorrect code formatting due to incorrect decisions made due to clang-formats
# lack of complete semantic information. As such extra care should be taken to
# review code changes made by the use of this option.
QualifierAlignment: Leave
QualifierOrder: [inline, static, constexpr, friend, type, const, volatile, restrict]
# clang-format --style=file:.clang-format --dump-config



